.selected {
  background-color: red;
}
#canvas { 
  border: 1px solid white;
  width: 100%;
  max-width: 800px;
  height: auto;
 }
.images-container {
  position: relative;
}
.images-container * {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: auto;
}
